<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <p>Property: {{username}}</p>
    <p>Object: {{user.firstName}} {{user.lastName}}</p>
    <p>
        Conditionals:
        {% if address %}
        {{ address.city }}, {{ address.street }}
        {% endif %}
    </p>
    <p>
        Filters:
        {{ user.firstName | capitalize | prepend: "Hello " }}
    </p>
    <p>Loops:</p>
    <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>